//! COLORS ______________________________
//! _____________________________________
$base-blue: #1EA6DA;
$base-red: #F44336;
$base-grey: #303030;
$base-white: #FFF;



//! BREAK POINTS ________________________
//! _____________________________________
$break-one: 786px;
$break-two: 1280px;

$mobile-break: 600px;